body{
  background: black;
  height: 100%;
  width: 100vw!important;
  font-family: 'Karla';
  overflow-x: hidden;
  cursor: default;
}

::-webkit-scrollbar { //hide scrollbar for chrome and safari
    display: none;
}

#root{
  display: none;//while loading
  button:focus {
    outline:0;
  }
}
