#about{
  @include position(relative, 0, 0);
  height: 120vh;
  width: 100%;
  text-align: center;
  font-size: calc(1.2em + 2.5vw);
  @include media($tab){
    height: 90vh;
  }


  h3{
     font-size: $md;
     color: #CA7564;
     margin-top: 10%;
     padding: 0 !important;
     @include media($tab){
        margin-top: 12%;
      }
  }

  h1{
    margin-top: -1% !important;
    padding: 0 !important;
    font-weight: 800;
    color:  #d9d9d9;
    font-family: 'Quantico';
  }

  .information{
    height: auto;
    display: flex;
    margin: -4% 2%;
    justify-content: space-between;
    padding: 0 2%;

    .widget-icons{
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      #title-circle{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid 1px #d9d9d9;
        animation: bounce 8s ease infinite;
        box-shadow: inset 0px 5px 25px #CA7564, 0px 5px 25px #CA7564 ;
        @include media($phone-tab){
          display: none;
       }
        #about-svg{
          display: block;
        }

        #skills-svg{
          display: none;
        }
      }

      .line{
          width: 200px;
          height: 10px;
        //  margin: 8% 3%;
          border: none;
          box-shadow: 0px 1px 10px inset #111;
         @include media($phone-tab){
           display: none;
        }

         .in-line{
           width: 10px;
           height: 2px;
           box-shadow: 0px 2px inset grey;
         }

        .one{
          margin-left: 3%;
         }
        .two{
          margin-left: 80%;
         }
       }
    }



    #display-card{
      background: #0a0a0a;
      height: auto;
      width: 80%;
      @include media($phone-tab){
        width: 100%;
     }

      .content{
        text-align: left;
        padding: 2%;

        h3{
          margin-top: 0;
        }

        #intro{
          display: block;
          p{
            font-size: $md;
            color: #d3d3d3;
          }
        }

        #skills{
          display: none;

          .row{
            display: flex;
          }

          .card{
            width: auto;
            height: auto;
            padding: 2px 10px;
            margin: 0 1%;
            border: 0.5px solid #d3d3d3;

            h3{
              font-size: calc(0.24em + 0.4vw);
              color: white;
            }

            p{
              font-size: calc(0.24em + 0.4vw);
              color: #d3d3d3;
            }

            hr{
              margin: 2% auto;
              margin-bottom: 1%;
              border: none;
              height: 1px;
              width: 100%;
              box-shadow: 0px 1px #CA7564;
              @include media($phone){
              width: 40%;
           }
        }
          }
        }

         .button{
             width: 100%;
             height: auto;
             padding: 12px 24px;
             font-size: $md;
             color: white;
             cursor: pointer;
             border: 1px solid #CA7564;
             box-sizing: border-box;
             background: transparent;
             text-align: center;
             text-transform: uppercase;
             font-weight: 800;
             box-shadow: none;
             border-radius: 5px;
             transition: all 150ms;
           @include media($phone){
             padding: 12px 12px;
           }
           &:hover{
               background: white;
               color: black;
               box-shadow: 0px 5px 25px #CA7564;
          }
       }
    }
  }

}

}
